<header>

<div class="navbar">
<h1>Vamshi - N01546921</h1>
  <a href="/" {{#if activeHome}}class="active"{{/if}}>Home</a>
  <a href="/data" {{#if activeData}}class="active"{{/if}}>All Data</a> 
  <a href="/search/invoiceNo" {{#if activeInvoiceNo}}class="active"{{/if}}>Search by Invoice No</a> 
  <a href="/search/Manufacturer" {{#if activeManufacturer}}class="active"{{/if}}>Search by Manufacturer</a> 
  <a href="/viewData" {{#if activeViewData}}class="active"{{/if}}>View Data</a> 
</div>
</header>
